.search {
  -moz-transform: scale(0.7,0.6);
  -webkit-transform: scale(0.7,0.6);
  -o-transform: scale(0.7,0.6);
  -ms-transform: scale(0.7,0.6);
  width: 970px;
  height: 550px;
  position: absolute;
  top: -17%;
  left: 33%;
}

.wiki {
  -moz-transform: scale(0.7,0.6);
  -webkit-transform: scale(0.7,0.6);
  -o-transform: scale(0.7,0.6);
  -ms-transform: scale(0.7,0.6);
  width: 970px;
  height: 550px;
  position: absolute;
  top: 38%;
  left: 33%;
}

.article_list {
  overflow: scroll;
  width: 550px;
  height: 450px;
}

.page-link {
  cursor: pointer;
}